.footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 30px;
}
.footer .MuiSvgIcon-root {
  background-color: white;
  box-shadow: 0px 10px 53px 0px rgba(0, 0, 0, 0.932) !important;
  padding: 10px;
  height: 50px !important;
  width: 50px !important;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
}

.footer__repeat {
  color: rgb(248, 178, 48) !important;
}
.footer__left {
  color: rgb(248, 76, 76) !important;
}
.footer__star {
  color: rgb(69, 164, 241) !important;
}
.footer__right {
  color: rgb(2, 233, 144) !important;
}
.footer__lightning {
  color: rgb(177, 5, 177) !important;
}
